# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.pyc
*.ncrunchproject
*.ncrunchsolution

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Publish
publish/
ShiftMouseButton.Installer/publish/

# Rider
.idea/
*.sln.iml

# User-specific
*.rsuser
*.suo
*.userprefs

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains Rider
*.sln.iml
